{% extends 'posting/base.html' %}
{% block main_area %}
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-2">
                <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-2 justify-content-center">
                  {% if post_list.exists %}
                  {% for p in post_list %}
                    <div class="col mb-3">
                        <div class="card h-70 border-secondary shadow p-3 mb-5 bg-white rounded">
                            <!-- Product image-->
                            {% if p.head_image %}
                            <img class="card-img-top" width="800px" height="150px" src="{{ p.head_image.url }}" alt="..." />
                            {% else %}
                            <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image">
                            {% endif %}
                            <div class="progress">
                                <div class="progress-bar" style="width: {{p.reliability}}%">Reliability: {{p.reliability}}%</div>
                            </div>
                            <!-- Product details-->
                            <div>
                                {% if p.category %}
                                    <span class="badge bg-secondary float-right">{{p.category}}</span>
                                {% endif %}
                            </div>

                                    <!-- article title-->
                                    <h5 class="fw-bolder">{{ p.title }}</h5>
                                    <!-- article content-->
                                    {{ p.content }}

                            <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a>
                    </div>
                    </div>
              {% endfor %}
                  {% else %}
                  <h2>아직 게시물이 없습니다.</h2>
              {% endif %}
                </div>
            </div>

<!-- Pagination-->
 {% if is_paginated %}
      <ul class="pagination justify-content-center my-4">
          {% if page_obj.has_previous %}
          <li class="page-item">
              <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">&larr; Newer</a>
          </li>
          {% else %}
          <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr; Newer</a>
          </li>
          {% endif %}
          {% if page_obj.has_next %}
          <li class="page-item">
              <a class="page-link" href="?page={{page_obj.next_page_number}}">Older &rarr;</a>
          </li>
          {% else %}
          <li class="page-item disabled" >
              <a class="page-link" href="#!">Older &rarr;</a>
          </li>
          {% endif %}
      </ul>
    {% endif %}
        </section>
 <div class="container"><p class="m-0 text-center text-white">copyright &copy;2021 NEWTRIA co.,Ltd. All rights reserves</p></div>
 <div class="container"><p class="m-0 text-center text-white">copyright &copy;2021 NEWTRIA co.,Ltd. All rights reserves</p></div>
{% endblock %}